body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#back-button {
  cursor: pointer;
}

.users {
  cursor: pointer;
  background-color: #23A8F2;
  border-radius: .3rem;
  width: 325px;
  margin: 20px auto;
  padding: 5px;
  font-size: large;
  font-weight: bold;
}

.posts {
  background-color: #23A8F2;
  border-radius: .3rem;
  margin: 20px auto;
  padding: 1px 20px;
  width: 80%;
}